@model projetIntegrateur.Models.Piece

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Piece</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPiece" />
            <div class="form-group">
                <label asp-for="IdAppartement" class="control-label"></label>
                <select asp-for="IdAppartement" class="form-control" asp-items="ViewBag.IdAppartement"></select>
                <span asp-validation-for="IdAppartement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperficiePiece" class="control-label"></label>
                <input asp-for="SuperficiePiece" class="form-control" />
                <span asp-validation-for="SuperficiePiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouleurPiece" class="control-label"></label>
                <input asp-for="CouleurPiece" class="form-control" />
                <span asp-validation-for="CouleurPiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRenovation" class="control-label"></label>
                <input asp-for="DateRenovation" class="form-control" />
                <span asp-validation-for="DateRenovation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePiece" class="control-label"></label>
                <input asp-for="ImagePiece" class="form-control" />
                <span asp-validation-for="ImagePiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
